.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input[type="range"] {
  width: 300px;
  margin: 10px 0;
}

body{
  background-color: #282c34;
}

canvas{
  height: 90vh;
}